/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
/* Glyphter ICONS (http://www.glyphter.com)*/
@font-face {
    font-family: 'Glyphter';
    src: url("custom-icons/fonts/Glyphter.eot");
    src: url("custom-icons/fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("custom-icons/fonts/Glyphter.woff") format("woff"), url("custom-icons/fonts/Glyphter.ttf") format("truetype"), url("custom-icons/fonts/Glyphter.svg#spa") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  [class*='icon-Glyphter']:before {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Glyphter-159276:before{
    content:'\0041';
  }